libro{background:#2ECC71; display:block; border:2px solid black; padding:8px;  margin-top:9px; margin-left:6px; font-family:arial;}
titulo{font-weight:bold; display:block;}
autor, fechaPublicacion{display:block;}
