textos{background-image:url("fondoflors.jpg");}
ESTROFA{background:#7E7E04; display:inline-block; margin:20px; margin-left:120px; padding:20px; font-size:24px;}
VERSO{text-align:center; display:block;}