body{background-color:#C9D9E5; font-family:tahoma}
h1{text-align:center; font-size:1.5em; text-transform:uppercase; }
h2{background-color:#0285E2; color:#F0D1E3; text-transform:capitalize;}
h3{background-color:#3EA0DD; color:#F0D1E3;}
strong{color:#DBDB0D;}
em{color:#A04161; text-decoration:underline; font-weight:bold; font-style:normal;}

