tematica{display:table; margin-bottom:20px; border:solid 3px; background:#99FFFF;}
tema{background:#FFFF88; display:table-cell; font-size:30px; font-weight:bold;}
enlace{display:block; border:2px solid; padding-left:2px;}
com{display:none;}