div#lateral{background:#FEFF99;}
#fotoinicio{float:left; width:20%;}
#cabecera{float:right; width:70%;}
#lateral{float:right; border-style:solid; width:70%;}
#fila{margin-left:150px;}
#tipos{margin-left:175px;}